p{
  color: brown;
  font-size: large;
  text-decoration: underline;
}

body{
  background-image: url("../img/red.jpg");
  background-size: 300px 100px;
  background-repeat: no-repeat;
}

body{background: olive url("..img/red.jpg") no-repeat center 400px}